html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg,  rgba(240,0, 0, 0.8),  rgba(0,0,240,0.8));
	overflow: hidden;
}

main {
	display: flex;
	padding: 0;
	margin: 49px 0 0 ;
	background-color: black;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 85%;
}

.logos {
	width: 50px;
}

.menu-container {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 1000;
}

.menu-wrapper {
	display: flex;
	width: 560px;
	overflow: hidden;
}

.menu {
	display: flex;
	list-style: none;
	align-items: center;
	height: 100px;
	padding: 0;
	margin: 0;
	transition: 1s ease;
	margin: 0 0 0 5px;
}

.menu li, a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	background-color: #010101;
	height: 70px;
	margin-right: 10px;
	border-radius: 50%;
	position: relative;
	opacity: 95%;
	transition: 0.5s ease;
}

a{
	margin-right: 0px;
	text-decoration: none;
	color: white;
	text-align: center;
	font: 15px Times;
	font-weight: bold;
}

.menu li:hover, .menu a:hover, .menu-container button:hover{
	opacity: 100%;
	transform: scale(1.05);
	transition: 0.5s ease;
}

.menu-container button {
	align-self: flex-start;
	margin: 37px 0 0 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

.player {
	height: 100%;
	width: 70.4%;
}

.player a{
	height: 30px;
	width: 150px;
	border-radius: 50px;
	margin-right: 10px;
	
}

#opcao {
	visibility: hidden;
	position: relative;
	display: flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	z-index: 100;
	margin-top: -20px;
	width: 100%;
	opacity: 0%;
	transition: 1s ease;
}

#opcao1:hover, #opcao2:hover{
	opacity: 100%;
	transform: scale(1.05);
	transition: 0.5s ease;
}

iframe {
	border: 2px solid white;
	width: 100%;
	height: 99.3%;
	border-radius: 50px;
	background: url('images/koyote.png') no-repeat center center;
	background-size: 50px;
}

.fundo-lateral-1, .fundo-lateral-2 {
	position: fixed;
	display: flex;
	height: 100%;
	width: 100px;
	opacity: 80%;
	top: 0;
	z-index: 1;
}

.fundo-lateral-1{
	background: linear-gradient(90deg, black, transparent);
}
.fundo-lateral-2{
	right: 0;
	background: linear-gradient(90deg, transparent, black);
}

footer{
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
}

span {
	animation-duration: 3s;
	animation-name: deslizar;
}

@keyframes deslizar {
	from {
		width: 50%;
		
	}
	
	to {
		width: 100px;
	}
}	

/*Celular*/
@media (max-width: 600px) {
	
	.fundo-lateral-1, .fundo-lateral-2 {
		width: 30px;
	}
	
	.menu-wrapper {
		width: 320px;
	}
	
	@keyframes deslizar {
		from {
			width: 50%;
			
		}
		
		to {
			width: 30px;
		}	
	}	
}


